@font-face {
	font-family: "frontend-boilerplate";
	src: url("frontend-boilerplate.woff?2eba1f70b85850cd60bf40572e548b1c") format("woff"),
url("frontend-boilerplate.ttf?2eba1f70b85850cd60bf40572e548b1c") format("truetype"),
url("frontend-boilerplate.svg?2eba1f70b85850cd60bf40572e548b1c#frontend-boilerplate") format("svg");
}

@if not variable-exists('webfont-icons') {
	$webfont-icons: () !global;
}

$webfont-icons: map-merge($webfont-icons, (
		'carat-down': ('frontend-boilerplate' 'f101'),
		'carat-left': ('frontend-boilerplate' 'f102'),
		'carat-right': ('frontend-boilerplate' 'f103'),
		'carat-up': ('frontend-boilerplate' 'f104'),
));

@mixin webfont-icon($name) {
	line-height: 1;

	$icon: map-get($webfont-icons, $name);
	&:before {
		font-family: nth($icon, 1) !important;
		font-style: normal;
		font-weight: normal !important;
		vertical-align: top;
		content: str-slice('\x', 1, 1) + nth($icon, 2);
	}
}
